<app-toolbar [title]="title"></app-toolbar>

  <md-card>
    <button md-raised-button color="primary">PRIMARY</button>
    <button md-raised-button color="accent">ACCENT</button>
    <button md-raised-button color="warn">WARN</button>
  </md-card>
<!--<app-toolbar [title]="title"></app-toolbar>-->
<!--<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

<button md-icon-button [mdMenuTriggerFor]="appMenu">
   <md-icon>more_vert</md-icon>
</button>


<md-grid-list cols="2" rowHeight="1:1">
  <md-grid-tile>
    <md-list>
      <md-list-item *ngFor="let item of items | async"> 
        {{item.$value}} - 
        <button md-raised-button id="remove" (click)="remove(item)">Remove</button></md-list-item>
    </md-list>
  </md-grid-tile>
  <md-grid-tile>
    <app-people></app-people>
  </md-grid-tile>
  <md-grid-tile>
    <md-input-container class="example-full-width">
      <input mdInput type="text" id="item" placeholder="item..." #item value="item">
    </md-input-container>
    <br>
    <button md-raised-button id="submit" (click)="onSubmit(item)">SAVE</button>

  </md-grid-tile>
  <md-grid-tile>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Company (disabled)" value="Google">
    </md-input-container>
  </md-grid-tile>
</md-grid-list>-->
