<app-toolbar [title]="title">
</app-toolbar>

<router-outlet></router-outlet>


<!--<footer>
        <div class="version">
          Using @angular/flex-layout (current HEAD on Github Master)
        </div>
      </footer>-->





<!--<md-card>
  <button md-raised-button color="primary">PRIMARY</button>
  <button md-raised-button color="accent">ACCENT</button>
  <button md-raised-button color="warn">WARN</button>
</md-card>

<md-grid-list cols="3" rowHeight="1:.5">
  <md-grid-tile>
    <md-grid-tile-header>Items</md-grid-tile-header>
    <md-list>
      <md-list-item *ngFor="let item of items | async">
        {{item.$value}} -
        <button md-raised-button color="warn" id="remove" (click)="remove(item)">Remove</button>
      </md-list-item>
    </md-list>
    <md-grid-tile-footer>
      <md-input-container class="example-full-width">
        <input mdInput type="text" id="item" placeholder="item..." #item value="item">
      </md-input-container>
      <br>
      <button md-raised-button color="accent" id="submit" (click)="onSubmit(item)">SAVE</button>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile></md-grid-tile>
  <md-grid-tile>
    <app-people></app-people>
  </md-grid-tile>
  <md-grid-tile>
  </md-grid-tile>
</md-grid-list>-->