<form [formGroup]="peopleForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <md-input-container> <input mdInput type="text" id="name" placeholder="first name..." #person value="firstName" formControlName="firstName">      </md-input-container>
    <md-input-container><input mdInput type="text" id="type" placeholder="last name..." #person value="lastName" formControlName="lastName">      </md-input-container>
  </div>
  <div>
    <md-input-container><input mdInput type="email" id="email" placeholder="email..." #person value="email" formControlName="email"></md-input-container>
  </div>
  <app-address-component [parentForm]="peopleForm"> </app-address-component>
  <div>
    <button type="submit" md-raised-button color="accent" [disabled]="peopleForm.pristine || peopleForm.invalid" id="submit">SAVE</button>
    <button type="reset" md-raised-button color="accent" [disabled]="peopleForm.pristine" id="reset">Reset</button>
  </div>
</form>


<p>Form value: {{ peopleForm.value | json }}</p>
<p>Form status: {{ peopleForm.status | json }}</p>
