@import '~@angular/material/prebuilt-themes/indigo-pink.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;    /* Add this */
}

.menu {
  /*border: 1px solid black;*/
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}